@font-face {
    font-family: 'Hind';
    src: url('Hind-Regular.eot');
    src: url('Hind-Regular.eot?#iefix') format('embedded-opentype'),
        url('Hind-Regular.woff2') format('woff2'),
        url('Hind-Regular.woff') format('woff'),
        url('Hind-Regular.ttf') format('truetype'),
        url('Hind-Regular.svg#Hind-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

