.menuList {
    display: flex;
    align-items: center;
    gap: 16px;
}

.menuItem {
    position: relative;
}

.menuLink {
    display: flex;
    align-items: center;
    gap: 4px;
}

.menuLink > span {
    font-family: var(--primary-font);
    font-weight: 900;
}

.menuLink .icon,
.menuLink:hover,
.subMenuLink:hover,
.menuLink.inView,
.subMenuLink.inView {
    color: var(--primary);
}


.menuLink .icon {
    transition: transform .4s;
}

.subMenuList {
    min-width: 240px;
    position: absolute;
    background-color: var(--white);
    background-color: #202020;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .4s, transform .4s;
}

.menuItem.active .subMenuList {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.subMenuLink {
    width: 100%;
    color: var(--white);
}

.subMenuLink:hover {
    transform: translateX(10px);
}

@media (max-width: 992px) {
    .menuItemsWrapper {
        background-color: var(--white);
        position: absolute;
        width: 100%;
        overflow: hidden;
        height: 0;
        overflow: auto;
        transition: height .4s;
    }

    .menuList {
        flex-direction: column;
        align-items: stretch;
        padding: 24px 0;
    }

    .subMenuLink,
    .menuLink {
        color: var(--secondary);
    }

    .subMenuListWrapper {
        height: 0;
        overflow: hidden;
        transition: height .4s;
    }

    .subMenuList {
        background-color: transparent;
        position: relative;
        transform: none;
        border-left: 2px solid red;
        border-radius: 0;
        margin-left: 16px;
        padding-bottom: 0;
        visibility: visible;
        opacity: 1;
    }

    .subMenuLink {
        position: relative;
    }

    .subMenuLink::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 16px;
        background-color: red;
        top: 50%;
        left: -20px;
    }

    .subMenuLink:hover {
        transform: none;
    }
}