.header {
    color: var(--white);
}

.container {
    height: 100px;
    display: flex;
    align-items: center;
}

.darkLogo,
.lightLogo {
    width: 150px;
}

.darkLogo {
    display: none;
}

.contactLinkWrap {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 30px;
}

.contactLinkWrap .icon {
    font-size: 30px;
    color: var(--primary);
}

.contactLinkWrap .text p {
    color: var(--primary);
    font-size: 14px;
    font-family: var(--cursive-font);
}

.contactLinkWrap .text a {
    font-size: 18px;
}

.navigation {
    margin-left: auto;
}

.menuList {
    display: flex;
    align-items: center;
}

.menuItem {
    padding: 8px 10px;
    position: relative;
}

.menuItem i {
    color: var(--primary);
}

.subMenuList {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translateY(125%);
    bottom: 0;
    background-color: var(--white);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    box-shadow: 0 16px 50px #00000070;
    min-width: 240px;
    z-index: 1;
    transition: all .3s;
}

.menuItem:hover .subMenuList {
    opacity: 1;
    visibility: visible;
    transform: translateY(100%);
}

.subMenuList li + li {
    padding-top: 16px;
}

.navLink {
    display: flex;
    align-items: center;
    gap: 4px;
}

.menuList .active,
.subNavLink:hover,
.navLink:hover {
    color: var(--primary);
}

.subNavLink {
    color: var(--secondary);
    min-width: 100px;
}

.subNavLink:hover {
    transform: translateX(10px);
}

@media (max-width: 992px) {
    .contactLinkWrap {
        display: none;
    }

    .container {
        flex-wrap: wrap;
    }

    .navigation {
        width: 100%;
    }

    .menuList {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        width: 100%;
        left: 0;
        padding: 20px;
        background: var(--white);
    }

    .menuList .menuItem .subMenuList {
        box-shadow: none;
        padding: 16px 0 0 16px;
        position: relative;
        transform: none;
        opacity: 1;
        visibility: visible;
        display: none;
    }
    
    .menuList .menuItem .subMenuList.open {
        display: block;
    }

    .navLink {
        color: var(--secondary);
    }
}