.content {
    height: 100px;
    display: flex;
    align-items: center;
}

.darkLogo,
.lightLogo {
    max-width: 150px;
    margin-right: auto;
}

.callUsTodayButton {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.callUsTodayButton .icon {
    font-size: 30px;
    color: var(--primary);
    margin-right: 8px;
}

.callUsTodayButton .label {
    font-family: var(--cursive-font);
    font-size: 14px;
    color: var(--primary);
}

.callUsTodayButton .number {
    padding-top: 4px;
    line-height: 1.15   ;
    font-family: var(--primary-font);
    font-size: 18px;
}

.menu {
    margin-left: 16px;
    padding: 8px;
    display: none;
    font-size: 24px;
    width: 40px;
}

@media (max-width: 992px) {
    .darkLogo,
    .lightLogo {
        width: 130px;
    }

    .menu {
        display: inline-block;
    }
}

@media (max-width: 576px) {
    .callUsTodayButton {
        display: none;
    }
}