:root {
  --primary: #dc2751;
  --secondary: #1b1b1b;
  --white: #fff;
  --black: #000;
  --grey: #999999;
  --light-grey: #727272;

  --default-text: #ccc;
  --body-bg: #101010;
  --primary-font: "Poppins", "san serif";
  --secondary-font: "Hind Madurai", "san serif";
  --cursive-font: "Architects Daughter", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
  font-family: var(--secondary-font);
}

body {
  color: var(--default-text);
  background-color: var(--body-bg);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

textarea,
select,
input {
  border: none;
}

a,
label,
button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.25s;
  display: inline-block;
  color: var(--default-text);
  font-size: 16px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ol,
ul {
  list-style-type: none;
}